.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 11.1527em 4.2em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}

.logo:before {
    background-position: 0em 0em;
    width: 11.1527em;
    height: 4.1921em;
}

